<!DOCTYPE html>
{% if pws_not_matching %}
The given passwords don't match.
{% elif incorrect_pw %}
Old password is not correct.
{% elif pw_update_success %}
Password updated.
{% endif %}

<p>
	Change password:
</p>
<form action="/account" method="post">
	<input type="hidden" name="option_name" value="password_change"/>
	<p>
		Old password: <input type="text" name="old_password">
	</p>
	<p>
		New password: <input type="password" name="password">
	</p>
	<p>
		Repeat password: <input type="password" name="password_rep">
	</p>
	<input type="submit" value="Change password">
</form>

<br>
<form action="/account" method="post">
	<input type="hidden" name="option_name" value="set_stats_vis"/>
	<label for="stats_vis">Stats visibility:</label>
	<select id="stats_vis" name="stats_vis">
		<option value="private" {% if stats_vis == 'private' %}selected{% endif %}>Private {{stats_vis}}</option>
		<option value="friends" {% if stats_vis == 'friends' %}selected{% endif %}>Friends only</option>
		<option value="public" {% if stats_vis == 'public' %}selected{% endif %}>Public</option>
  	</select>
  	<input type="submit" value="Set visibility">
</form>
