<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<h1>
	Account settings for {{ session["username"] }}
</h1>

{% if pws_not_matching %}
The given passwords don't match.
{% elif incorrect_pw %}
Old password is not correct.
{% elif pw_update_success %}
Password updated.
{% endif %}

<p>
	Change password:
</p>
<form action="/account" method="post">
	<input type="hidden" name="action" value="password_change"/>
	<input type="hidden" name="login_token" value={{ session.login_token }} />
	<p>
		Old password: <input type="text" name="old_password">
	</p>
	<p>
		New password: <input type="password" name="password">
	</p>
	<p>
		Repeat password: <input type="password" name="password_rep">
	</p>
	<input type="submit" value="Change password">
</form>

<br>
<form action="/account" method="post">
	<input type="hidden" name="action" value="set_profile_vis"/>
	<input type="hidden" name="login_token" value={{ session.login_token }} />
	<label for="profile_vis">Profile visibility:</label>
	<select id="profile_vis" name="profile_vis">
		<option value="private" {% if profile_vis == 'private' %}selected{% endif %}>Private</option>
		<option value="friends" {% if profile_vis == 'friends' %}selected{% endif %}>Friends only</option>
		<option value="public" {% if profile_vis == 'public' %}selected{% endif %}>Public</option>
  	</select>
  	<input type="submit" value="Set visibility">
</form>
{% endblock %}
