<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<p>
{% if msg_name == "short_username" %}
	Couldn't send friend request. Username should be at least 2 characters long.
{% elif msg_name == "invalid_username" %}
	Couldn't send friend request, because that user does not exist.
{% elif msg_name == "friend_or_req_exists" %}
	Couldn't send friend request, because that user is already your friend or there is a pending friend request.
{% elif msg_name == "friend_req_to_self" %}
	You can't send a friend request to yourself.
{% endif %}
</p>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='friends.css') }}">
<form action="/friends" method="post">
	<input type="hidden" name="action" value="send_friend_req"/>
	<input type="hidden" name="login_token" value={{ session.login_token }} />
	Send friend request: <input type="text" name="username"/>
	<input type="submit" value="Send">
</form>
<br>

<p><div class="verticalScrollableTable">
	<table>
		<thead>
  			<tr>
				<th>Friends</th>
			</tr>
		</thead>
		<tbody>
			{% for friend in friends %}
				<tr><td>{{friend.name}}</td></tr>
				<tr><td>
					<form action="/friends" method="post">
						<input type="hidden" name="login_token" value={{ session.login_token }}/>
						<input type="hidden" name="action" value="remove_friend"/>
						<input type="hidden" name="id" value={{friend.id}} />
						<input type="submit" value="Remove friend">
					</form>
				</td><tr>
			{% endfor %}
		</tbody>
	</table>
</div></p>

<p><div class="verticalScrollableTable">
	<table>
		<thead>
  			<tr>
				<th>Pending friend requests</th>
			</tr>
		</thead>
		<tbody>
			{% for friend_req in friend_reqs_in %}
				<tr><td>{{friend_req.name}}</td></tr>
				<tr><td>
					<form action="/friends" method="post">
						<input type="hidden" name="login_token" value={{ session.login_token }}/>
						<input type="hidden" name="action" value="accept_friend_req"/>
						<input type="hidden" name="id" value={{friend_req.id}} />
						<input type="submit" value="Accept">
					</form>
				</td><tr>
			{% endfor %}
		</tbody>
	</table>
</div></p>

<p><div class="verticalScrollableTable">
	<table>
		<thead>
  			<tr>
				<th>Sent friend requests</th>
			</tr>
		</thead>
		<tbody>
			{% for friend_req in friend_reqs_out %}
				<tr><td>{{friend_req.name}}</td></tr>
				</td><tr>
			{% endfor %}
		</tbody>
	</table>
</div></p>
{% endblock %}
