<!DOCTYPE html>
<title>Ultimate Tic-tac-toe</title>
<h1>Welcome to multiplayer Ultimate Tic-tac-toe!</h1>
<p>
	{{games_played}} games have been played. There are {{active_games}} active game lobbies right now.
</p>
<br>
<img src="/static/incomplete-board.png" style="width:488px;" alt="Game board">
<p>
	<h2>Rules</h2>
	<ul>
		<li> The <b> global board </b> is a 3 x 3 grid of <b> local boards </b>. They are just like normal tic-tac-toe boards. </li>
		<li> Placing marks/tokens
			<ul>
				<li> The first player can place a mark anywhere on the global board </li>
				<li>
					After that players have to place their mark on a local board that corresponds to the local board position the previous mark was placed on. For example if the previous player places a mark in the upper
					left corner, the next player has to place their mark on the local board that is in the upper left corner of the global board. 
				</li>
			</ul> 
		</li>
		<li> Scoring/winning the game
			<ul>
				<li> Local boards can be won by a player just like a tic-tac-toe game is won. A local board that has been won will be marked by the player's mark who has won the board. </li>
				<li> If a player gets "sent" to a local board that is won or filled, they can place a mark in any free cell </li>
				<li> The game is won by winning 3 local boards in a horizontal, vertical or diagonal line </li>
			</ul>
		</li>
	</ul>
</p>
<p>
	<a href="/lobbies">Play/spectate</a> &nbsp;&nbsp
	{% if logged_in %}
	<a href="/account">Account settings</a> &nbsp;&nbsp
	<a href="/stats">Personal statistics</a> &nbsp;&nbsp
	<a href="/logout">Log out</a> &nbsp;&nbsp
	{% else %}
	<a href="/register">Create account</a> &nbsp;&nbsp
	<a href="/login">Log in</a> &nbsp;&nbsp
	{% endif %}
	<a href="/stats-testing">Stats testing (manually add games to game history)</a> &nbsp;&nbsp
</p>
