<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='lobby-list.css') }}">
{% if curr_lobby_id != None %}
	<h1>
		<a href="/lobby/{{curr_lobby_id}}">Go to your current lobby</a> &nbsp;&nbsp
	</h1>
{% endif %}
<h1>
	Create a game{% if curr_lobby_id != None %} (This will automatically leave/delete the lobby you are in right now.) {% endif %}
</h1>
<table>
	<form action="/lobby-list" method="post">
		<input type="hidden" name="action" value="create_lobby">
		<input type="hidden" name="login_token" value={{ session.login_token }} />
		<input type="hidden" name="visibility" value="public">
		<input type="submit" value="Create public game">
	</form> &nbsp;&nbsp
	<form action="/lobby-list" method="post">
		<input type="hidden" name="action" value="create_lobby">
		<input type="hidden" name="login_token" value={{session.login_token}} />
		<input type="hidden" name="visibility" value="friends">
		<input type="submit" value="Create game for friends">
	</form> &nbsp;&nbsp
	<form action="/lobby-list" method="post">
		<input type="hidden" name="action" value="create_lobby">
		<input type="hidden" name="login_token" value={{session.login_token}} />
		<input type="hidden" name="visibility" value="private">
		<input type="submit" value="Create hidden game">
	</form>
</table>
<h1>
	Join a game{% if curr_lobby_id != None %} (This will automatically leave/delete the lobby you are in right now.) {% endif %}
</h1>
<p><div class="verticalScrollableTable">
	<table>
		<thead>
  			<tr>
				<th>Owner</th>
				<th>Status</th>
				<th>Join as player</th>
				{% if spectators_allowed %} <th>Join as spectator</th> {% endif %}
			</tr>
		</thead>
		<tbody>
			{% for lobby in lobby_list %}
				<tr>
					<td>{{lobby.owner}}</td>
				    <td>{{lobby.status}}</td>     
				    <td><form action="/lobby-list" method="post">
						<input type="hidden" name="action" value="play">
						<input type="hidden" name="login_token" value={{session.login_token}} />
						<input type="hidden" name="id" value={{lobby.id}} />
						<input type="submit" value="Join">
					</form></td>
				<tr>
				{% if spectators_allowed %}
					<tr><td>
						<form action="/lobby-list" method="post">
							<input type="hidden" name="action" value="spectate">
							<input type="hidden" name="login_token" value={{session.login_token}} />
							<input type="hidden" name="id" value={{lobby.id}} />
							<input type="submit" value="Join">
						</form>
					</td><tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div></p>
{% endblock %}
