<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='lobby.css') }}">
{% if exists == False %}
	<h1>
		This lobby does not exist. <a href="/lobby-list">Go back to lobby list?</a>
	</h1>
{% else %}
	{% if session["id"] != lobby["owner_id"] and session["id"] != lobby["player2_id"] %}
		<h1>
			You are not part of this lobby. <a href="/lobby-list">Go back to lobby list?</a>
		</h1>
	{% elif session["id"] == lobby["owner_id"] %}
		<h1>
			You are the owner of lobby {{ lobby.id_b64 }}. 
			{% if lobby["status"] == LobbyStatus.ready %} 
				Do you want to start a game with {{ lobby.player2 }} or kick them? <br>
				<table>
					<form action="/lobby/{{ lobby.id_b64 }}" method="post">
							<input type="hidden" name="action" value="start">
							<input type="hidden" name="login_token" value={{ session.login_token }} />
							<input type="submit" value="Start">
					</form> &nbsp
					<form action="/lobby/{{ lobby.id_b64 }}" method="post">
							<input type="hidden" name="action" value="kick">
							<input type="hidden" name="login_token" value={{ session.login_token }} />
							<input type="submit" value="Kick">
					</form>
				</table>
			{% elif lobby["status"] == LobbyStatus.waiting %} 
				Waiting for second player. 
			{% endif %}
		</h1>
		<p style="font-size:22px">
			Change lobby visibility
			<table><form action="/lobby/{{ lobby.id_b64 }}" method="post">
				<input type="hidden" name="action" value="change_vis">
				<input type="hidden" name="login_token" value={{session.login_token}} />
				<input type="hidden" name="visibility" value="public">
				<input type="submit" value="Set to public">
			</form> &nbsp;&nbsp
			<form action="/lobby/{{ lobby.id_b64 }}" method="post">
				<input type="hidden" name="action" value="change_vis">
				<input type="hidden" name="login_token" value={{session.login_token}} />
				<input type="hidden" name="visibility" value="friends">
				<input type="submit" value="Set to friends only">
			</form> &nbsp;&nbsp
			<form action="/lobby/{{ lobby.id_b64 }}" method="post">
				<input type="hidden" name="action" value="change_vis">
				<input type="hidden" name="login_token" value={{session.login_token}} />
				<input type="hidden" name="visibility" value="private">
				<input type="submit" value="Set to hidden">
			</form> </table>
		</p>
		<form action="/lobby/{{ lobby.id_b64 }}" method="post">
			<p style="font-size:22px">
				Delete lobby <br>
				<input type="hidden" name="action" value="delete">
				<input type="hidden" name="login_token" value={{ session.login_token }} />
				<input type="submit" value="Delete">
			</p>
		</form>
	{% elif session["id"] == lobby["player2_id"] %}
		<h1>
			You are in lobby {{ lobby.id_b64 }} with {{ lobby.player2 }}. Waiting for lobby owner to start the game. You will be automatically redirected to the game when it starts.
		</h1>
		<form action="/lobby/{{ lobby.id_b64 }}" method="post">
			<p style="font-size:22px">
				Leave lobby <br>
				<input type="hidden" name="action" value="leave">
				<input type="hidden" name="login_token" value={{ session.login_token }} />
				<input type="submit" value="Leave">
			</p>
		</form> &nbsp;&nbsp
	{% endif %}
	{% if session["id"] == lobby["owner_id"] or session["id"] == lobby["player2_id"] %}
		<p style="font-size:22px"><form action="/lobby/{{ lobby.id_b64 }}" method="post">
			Send message: <input type="text" name="content">
			<input type="hidden" name="action" value="send_msg">
			<input type="hidden" name="login_token" value={{ session.login_token }} />
			<input type="submit" value="Send">
		</form></p>
		<p><div class="verticalScrollableTable">
			<table>
				<thead>
					<tr>
						<th>Messages</th>
					</tr>
				</thead>
				<tbody>
				{% for message in messages %}
					<tr><td>
						<i>{{ message.username }} said:</i> <br>
						{{ message.content }} <br>
						<i>Sent on:</i> {{ message.sent_at }}
					</td></tr>
				{% endfor %}
				</tbody>
			</table>
		</div></p>
	{% endif %}
{% endif %}
<script>
	var source = new EventSource("{{ url_for('sse.stream', channel='lobby-' + lobby.id|string) }}");
	source.addEventListener('update', function(event) {
		var data = JSON.parse(event.data);
		if (data.updated_by !== {{ session['id'] }}) {
			location.reload()
		}
	}, false);
</script>
{% endblock %}
