<!DOCTYPE html>
<h1>
	<a href="/">Go back to frontpage</a>
</h1>

<p>
{% if err_name == "pws_not_matching" %}
The given passwords don't match.
{% elif err_name == "username_taken" %}
That username is already taken.
{% elif err_name == "short_username" %}
The username is too short. It needs to be at least 2 characters long.
{% elif err_name == "short_pw" %}
The password is too short. It needs to be at least 6 characters long.
{% endif %}
</p>

<form action="/register" method="post">
	<p>
		Username: <input type="text" name="username">
	</p>
	<p>
		Password: <input type="password" name="password">
	</p>
	<p>
		Repeat password: <input type="password" name="password_rep">
	</p>
	<input type="submit" value="Create account">
</form>
