<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stats.css') }}">

<h1>
	Game stats for {{ session["username"] }}
</h1>
<h2>
	You have played {{ games_played }} games.
</h2>
<h2>
	Your last 20 games:
</h2>
<div class="verticalScrollableTable">
	<table>
		<thead>
  			<tr>
				<th>Opponent</th>
				<th>Result</th>
				<th>Moves</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			{% for game in game_history %}
				<tr><td>{{ game.opponent }}</td> <td>{% if game.is_win %} Win {% else %} Loss {% endif %}</td> <td>{{ game.move_count }}</td> <td>{{ game.played_on }}</td></tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
